<h2>Edit post</h2>

<%= render "form.html", changeset: @changeset,
                        action: site_post_path(@conn, :update, @site, @post) %>

<%= link "Back", to: site_post_path(@conn, :index, @site) %>
