<h2>Listing posts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Filename</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for post <- @posts do %>
    <tr>
      <td><%= post %></td>

      <td class="text-right">
        <%= link "Edit", to: site_post_path(@conn, :new, @site, filename: post), class: "btn btn-default btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New post", to: site_post_path(@conn, :new, @site) %>
