<h2>New post</h2>

<%= render "form.html", changeset: @changeset,
                        action: site_post_path(@conn, :create, @site) %>

<%= link "Back", to: site_post_path(@conn, :index, @site) %>
